<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/bg.jpg" class="rounded-circle" width="300px" height="300px" alt="Gambar Diri">
            <h1 class="display-4">Andry Pebrianto</h1>
            <p class="lead">Lecturer | Web Developer</p>
        </div>
    </div>
</div>